option_settings:
  aws:elasticbeanstalk:environment:process:default:
    MatcherHTTPCode: 200

  aws:elb:listener:443:
    ListenerEnabled: true
    SSLCertificateId: "arn:aws:acm:eu-west-2:054037114564:certificate/11ea79a5-dc89-4d55-a078-b98de466bf3b"
    Protocol: HTTPS
    InstancePort: 80
    InstanceProtocol: HTTP

  aws:elb:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
    InstancePort: 80
    InstanceProtocol: HTTP

  aws:elb:policy:
    SSLNegotiationPolicyName: ELBSecurityPolicy-TLS-1-2-2017-01

  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

files:
  "/etc/nginx/conf.d/redirect_http_to_https.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          server_name brigid-personal-assistant.com;
          return 301 https://$host$request_uri;
      }