<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBahxksYHqowugwC9BkQgGBMA7Iw0WOjwc</string>
	<key>GCM_SENDER_ID</key>
	<string>1077026100240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brigid.family</string>
	<key>PROJECT_ID</key>
	<string>brigid-family-app</string>
	<key>STORAGE_BUCKET</key>
	<string>brigid-family-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077026100240:ios:1c31c6e4a3be893371e695</string>
</dict>
</plist>